@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    text-align: center;
    color: yellow;
    background: black;
    margin-top: 200px;
}
.acadamy{
    font-size: 60px;
    color: white;
    font-weight: 300;
}
.text{
    gap: 20px;
    font-weight: 70px;
    font-size: 2px;
}