@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    text-align: center;
    color: yellow;
    background: black;
    margin-top: 200px;
}
.acadamy{
    font-size: 12px;
    color: white;
    font-weight: 300;
}